python -m pip install amqp==5.0.9
python -m pip install anyascii==0.3.0
python -m pip install asgiref==3.4.1
python -m pip install attrs==21.4.0
python -m pip install autopep8==1.6.0
python -m pip install backports.entry-points-selectable==1.1.0
python -m pip install beautifulsoup4==4.9.3
python -m pip install billiard==3.6.4.0
python -m pip install bleach==4.1.0
python -m pip install cached-property==1.5.2
python -m pip install celery==5.2.3
python -m pip install certifi==2021.10.8
python -m pip install cffi==1.15.0
python -m pip install charset-normalizer==2.0.7
python -m pip install click==8.0.3
python -m pip install click-didyoumean==0.3.0
python -m pip install click-plugins==1.1.1
python -m pip install click-repl==0.2.0
python -m pip install colorama==0.4.4
python -m pip install cryptography==36.0.1
python -m pip install defusedxml==0.7.1
python -m pip install Deprecated==1.2.13
python -m pip install diff-match-patch==20200713
python -m pip install distlib==0.3.3
python -m pip install dj-database-url==0.5.0
python -m pip install Django==4.0.2
python -m pip install django-allauth==0.48.0
python -m pip install django-background-tasks==1.2.5
python -m pip install django-bootstrap-modal-forms==2.2.0
python -m pip install django-compat==1.0.15
python -m pip install django-cors-headers==3.11.0
python -m pip install django-filter==2.4.0
python -m pip install django-import-export==2.7.1
python -m pip install django-model-utils==4.2.0
python -m pip install django-modelcluster==5.2
python -m pip install django-mssql-backend==2.8.1
python -m pip install django-pyodbc==1.1.3
python -m pip install django-serverside-datatable==1.0.0
python -m pip install django-taggit==1.5.1
python -m pip install django-treebeard==4.5.1
python -m pip install djangorestframework==3.12.4
python -m pip install djangorestframework-jwt==1.11.0
python -m pip install docutils==0.17.1
python -m pip install draftjs-exporter==2.1.7
python -m pip install et-xmlfile==1.1.0
python -m pip install filelock==3.3.1
python -m pip install gunicorn==20.1.0
python -m pip install html5lib==1.1
python -m pip install idna==3.3
python -m pip install importlib-metadata==4.8.1
python -m pip install install==1.3.5
python -m pip install isodate==0.6.1
python -m pip install kavenegar==1.1.2
python -m pip install keyring==23.2.1
python -m pip install kombu==5.2.3
python -m pip install l18n==2020.6.1
python -m pip install lxml==4.7.1
python -m pip install MarkupPy==1.14
python -m pip install mssql-django==1.1.1
python -m pip install my-test-package==1.0
python -m pip install mysqlclient==2.1.0
python -m pip install oauthlib==3.2.0
python -m pip install odfpy==1.4.1
python -m pip install openpyxl==3.0.9
python -m pip install packaging==21.0
python -m pip install Pillow==8.4.0
python -m pip install pkginfo==1.7.1
python -m pip install platformdirs==2.4.0
python -m pip install prompt-toolkit==3.0.24
python -m pip install pyasn1==0.4.8
python -m pip install pyasn1-modules==0.2.8
python -m pip install pycodestyle==2.8.0
python -m pip install pycparser==2.21
python -m pip install Pygments==2.10.0
python -m pip install PyJWT==1.7.1
python -m pip install pymongo==3.12.1
python -m pip install pyodbc==4.0.32
python -m pip install pyparsing==2.4.7
python -m pip install python-decouple==3.5
python -m pip install python3-ldap==0.9.8.4
python -m pip install python3-openid==3.2.0
python -m pip install pytz==2021.3
python -m pip install pywin32-ctypes==0.2.0
python -m pip install PyYAML==6.0
python -m pip install readme-renderer==30.0
python -m pip install redis==3.0.1
python -m pip install redis-log-handler==0.0.1.dev32
python -m pip install requests==2.26.0
python -m pip install requests-file==1.5.1
python -m pip install requests-oauthlib==1.3.1
python -m pip install requests-toolbelt==0.9.1
python -m pip install rfc3986==1.5.0
python -m pip install six==1.16.0
python -m pip install soupsieve==2.2.1
python -m pip install sql-server.pyodbc==1.0
python -m pip install sqlparse==0.4.2
python -m pip install tablib==3.0.0
python -m pip install telepath==0.2
python -m pip install toml==0.10.2
python -m pip install tqdm==4.62.3
python -m pip install twine==3.4.2
python -m pip install tzdata==2021.5
python -m pip install Unipath==1.1
python -m pip install urllib3==1.26.7
python -m pip install vine==5.0.0
python -m pip install virtualenv==20.9.0
python -m pip install wagtail==2.14.2
python -m pip install wcwidth==0.2.5
python -m pip install webencodings==0.5.1
python -m pip install whitenoise==5.3.0
python -m pip install Willow==1.4
python -m pip install wrapt==1.13.3
python -m pip install xlrd==2.0.1
python -m pip install XlsxWriter==1.4.5
python -m pip install xlwt==1.3.0
python -m pip install zeep==4.1.0
python -m pip install zipp==3.6.0
