{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <main>
        <!-- Section -->
        <section class="vh-lg-100 d-flex align-items-center">
            <div class="container">
                <div class="row justify-content-center form-bg-image" data-background="/static/assets/img/illustrations/signin.svg">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-3 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">
                                    Register Borrower
                                </h1>
                                <br />
                                <p>
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% else %}
                                    Agrega tus credenciales
                                    {% endif %}                                     
                                </p>    
                            </div>
                            
                            <form method="post" action="">
                            
                                {% csrf_token %}

                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="first_name">Fist Name</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-shield"></span></span>
                                        {{ form.first_name }}
                                    </div>
                                    <span class="text-error">{{ form.first_name.errors }}</span>
                                </div>
                                <!-- End of Form -->
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="last_name">Last Name</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-shield"></span></span>
                                        {{ form.last_name }}
                                    </div>
                                    <span class="text-error">{{ form.last_name.errors }}</span>
                                </div>
                                <!-- End of Form -->

                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="email">Your Email</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon3"><span class="fas fa-envelope"></span></span>
                                        {{ form.email }}
                                    </div>
                                    <span class="text-error">{{ form.email.errors }}</span>
                                </div>
                                <!-- End of Form -->
                                <div class="form-group">
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3"><span class="fas fa-unlock-alt"></span></span>
                                            {{ form.password }}
                                        </div>  
                                        <span class="text-error">{{ form.password.errors }}</span>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="form-group mb-4">
                                        <label for="last_name">Need Money For</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3"><span class="fas fa-money-check-edit"></span></span>
                                            {{ form.need_money_for }}
                                        </div>
                                        <span class="text-error">{{ form.need_money_for.errors }}</span>
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="last_name">Description</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3"><span class="fas fa-text"></span></span>
                                            {{ form.description }}
                                        </div>
                                        <span class="text-error">{{ form.description.errors }}</span>
                                    </div>

                                    <div class="form-group mb-4">
                                        <label for="last_name">Amount Need</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon3"><span class="fas fa-money-bill-wave"></span></span>
                                            {{ form.amount_need }}
                                        </div>
                                        <span class="text-error">{{ form.amount_need.errors }}</span>
                                    </div>

                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck5">
                                            <label class="form-check-label" for="defaultCheck5">
                                              Agree terms
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <a href="{% url 'login' %}" class="small text-right">Login</a>
                                        </div>
                                    </div>
                                    
                                </div>
                                <button type="submit" name="register" class="btn btn-block btn-primary">Sign in</button>
                            </form>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="font-weight-normal">
                                    &copy; Sistemas Prestamos
                                    - coded by LFGG
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
    function activeTab(element) {
        let siblings = element.parentNode.querySelectorAll("button");
        for (let item of siblings) {
            item.children[1].classList.add("hidden");
            item.classList.add("text-gray-600");
            item.classList.remove("text-indigo-700");
            item.children[0].children[1].innerHTML = "Inactive";
        }
        element.children[1].classList.remove("hidden");
        element.classList.remove("text-gray-600");
        element.classList.add("text-indigo-700");
        element.children[0].children[1].innerHTML = "Active";
    }
</script>

{% endblock javascripts %}
